#someid {
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  align-items: middle;
  -ms-justify-content: center;
}

.someClassName {
  display: none;
  flex-direction: row;
  align-items: middle;
}
